@charset "utf-8";

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

RESET CSS

html5doctor.com Reset Stylesheet

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#262929 ;;color:#fff8f8;text-decoration:none}
mark{background-color:#262929;;color: #fff8f8;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

common

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; font-size: max(0.5vw, 4px); }
body {font-family:  "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", 'Noto Sans JP', 游ゴシック体, "Yu Gothic", YuGothic, メイリオ, Meiryo, sans-serif; margin: 0; padding: 0; font-weight: 400; line-height: 2.0; letter-spacing: 0.05em; background: #262929; }
*,
*:before,
*:after { background-color: #262929; color: #fff8f8; }

a,a:link, a:visited { text-decoration: none; }
a:active, a:hover { text-decoration: none; }
a:-webkit-any-link { cursor: pointer;}
*:focus {outline: none;}

/*h1, h2, h3, h4, h5 {font-weight: normal;}*/
li { list-style-type: none; }
dl,dt,dd { margin: 0; padding: 0; }
p { margin: 0; padding: 0; line-height: 2.0; font-size: 1.6rem; }
img {border: 0; line-height: 0; vertical-align: bottom;}
svg { vertical-align: bottom; }
hr { display: none; }
table { margin: 0; padding: 0; }
th { text-align: left; font-weight: bold; margin: 0; }
td { margin: 0; }
em {font-weight: bold; font-style: normal;}
form { margin: 0; padding: 0; }
label { margin: 0; padding: 0;}

a, span, u, b { color: inherit; }

.font_en { font-family: 'Inter', sans-serif; font-weight: bold; font-style: italic; line-height: 1.5; font-size: 3.6rem; }
.uppercase { text-transform: uppercase; }

@media screen and (max-width: 900px) {
	p { margin: 0; padding: 0; line-height: 1.85; font-size: 1.4rem; }
}

/* clearfix */
.clearfix::after {content: "";display: table;clear: both;}
